QA_MODEL_URL=http://127.0.0.1:8081/v1
QA_MODEL_NAME=sourcebook
QA_MODEL_API_KEY=
QA_EMBEDDING_MODEL=BAAI/bge-small-en
QA_ALLOWED_ORIGINS=["http://127.0.0.1:4173","http://localhost:4173"]
QA_SESSION_TTL_SECONDS=3600
QA_DAILY_QUESTIONS=200
QA_DAILY_UPLOADS=100
QA_PER_SESSION_QUESTIONS=20
QA_MIN_SIMILARITY=0.80
